{% extends "base.html.twig" %}

{% block title %}
    {{ title }} | {{ parent() }}
{% endblock %}

{% block body %}
<h1>
    Add page
</h1>

<div class="container" style="width: 500px;">
    {{ form_start(addForm) }}
        {{ form_row(addForm.file_url, {
            label: 'File'
        }) }}
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(addForm) }}
</div>


{% endblock %}

